@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Questrial&display=swap");
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
}

.headerContainer {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* margin-top: 30px; */
  border-bottom: 1px solid #e9e9e9;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 425px) {
  .headerContainer {
    padding: 30px 20px;
    margin-top: 0;
  }
}

.headerContainer .logo {
  padding: 30px 0;
}

@media screen and (max-width: 768px) {
  .headerContainer .logo {
    padding: 0;
    margin: 0;
  }
}

.headerContainer .logo a {
  text-decoration: none;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerContainer .logo .logo__title {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 900 !important;
  letter-spacing: 6px;
  color: #000;
  text-transform: uppercase;
  display: block;
}

.headerContainer .logo .logo__designation {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #222;
}

.headerContainer nav {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContainer nav .links {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .headerContainer nav .links {
    display: none;
  }
}

.headerContainer nav .links a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #222;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  border-bottom: 2px solid transparent;
}

.headerContainer nav .links a:hover, .headerContainer nav .links a.active {
  color: #e6af57;
  border-bottom: 2px solid #e6af57;
}

.headerContainer nav .burger {
  display: none;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .headerContainer nav .burger {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.headerContainer nav .burger .line {
  width: 25px;
  height: 2px;
  background: #000;
  position: relative;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.headerContainer nav .burger .line:after, .headerContainer nav .burger .line:before {
  width: 25px;
  height: 2px;
  background: #000;
  content: '';
  position: absolute;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.headerContainer nav .burger .line:before {
  -webkit-transform: translateY(-8px);
     -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}

.headerContainer nav .burger .line:after {
  -webkit-transform: translateY(8px);
     -moz-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}

.headerContainer nav .burger.open .line {
  -webkit-transform: translate(-50px);
     -moz-transform: translate(-50px);
      -ms-transform: translate(-50px);
          transform: translate(-50px);
  background: transparent;
}

.headerContainer nav .burger.open .line:before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
     -moz-transform: rotate(45deg) translate(35px, -35px);
      -ms-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.headerContainer nav .burger.open .line:after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
     -moz-transform: rotate(-45deg) translate(35px, 35px);
      -ms-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.header__mobile {
  height: 0;
  overflow: hidden;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  display: none;
}

@media screen and (max-width: 768px) {
  .header__mobile {
    display: block;
  }
}

.header__mobile.visible {
  height: 367px;
}

.header__mobile nav.mobile__nav .links {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__mobile nav.mobile__nav .links a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #222;
  border-bottom: 1px solid #e9e9e9;
  padding: 20px;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.header__mobile nav.mobile__nav .links a:hover, .header__mobile nav.mobile__nav .links a.active {
  color: #e6af57;
  border-bottom: 2px solid #e6af57;
}

.bannerContainer {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 50px auto;
  padding: 30px;
  overflow: hidden;
  gap: 30px;
  height: 600px;
}

@media screen and (max-width: 768px) {
  .bannerContainer {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin: 20px auto;
  }
}

.bannerContainer .left, .bannerContainer .right {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  height: 100% !important;
  font-size: 0;
  overflow: hidden;
}

.bannerContainer .left img, .bannerContainer .right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bannerContainer .left .showcase, .bannerContainer .right .showcase {
  position: relative;
}

.bannerContainer .left .showcase .overlay, .bannerContainer .right .showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Playfair Display';
  color: #fff;
  background: rgba(0, 0, 0, 0.45);
  font-size: 20px;
  padding: 20px;
}

.bannerContainer .left .showcase .overlay a, .bannerContainer .right .showcase .overlay a {
  text-decoration: none;
  color: #fff;
  font-family: 'Questrial';
  border: 1px solid #fff;
  padding: 8px 10px;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
}

.bannerContainer .left .showcase .overlay a:hover, .bannerContainer .right .showcase .overlay a:hover {
  background: #fff;
  color: #000;
}

.bannerContainer .left {
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bannerContainer .left .bracelets {
  height: 60%;
}

.bannerContainer .left .bracelets img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.bannerContainer .left .watches {
  height: 40%;
}

.bannerContainer .left .watches img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.bannerContainer .right {
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.bannerContainer .right .rings {
  height: 30%;
  width: 100%;
}

.bannerContainer .right .rings img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bannerContainer .right .necklaces {
  height: 70%;
}

.bannerContainer .right .necklaces img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#featured {
  max-width: 1100px;
  margin: 0 auto;
}

#featured .featuredContainer {
  padding: 0 30px;
}

#featured .featuredContainer .featuredHeading {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

#featured .featuredContainer .featuredHeading h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
  color: #222;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#featured .featuredContainer .featuredHeading .ptitle {
  font-size: 24px;
}

#featured .featuredContainer .featuredHeading .main {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

#featured .featuredContainer .featuredHeading .main .big {
  height: 2px;
  width: 100%;
  background: #222;
  margin-bottom: 1px;
}

#featured .featuredContainer .featuredHeading .main .small {
  height: 1px;
  width: 100%;
  background: #222;
}

#featured .featuredContainer .featuredProjectContainer {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

#featured .featuredContainer .featuredProjectContainer .featuredProduct {
  width: 30%;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #featured .featuredContainer .featuredProjectContainer .featuredProduct {
    width: 45%;
  }
}

@media screen and (max-width: 568px) {
  #featured .featuredContainer .featuredProjectContainer .featuredProduct {
    width: 100%;
  }
}

#featured .featuredContainer .featuredProjectContainer .featuredProduct .image {
  width: 100%;
  height: 350px;
  background: #ccc;
}

#featured .featuredContainer .featuredProjectContainer .featuredProduct .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#featured .featuredContainer .featuredProjectContainer .featuredProduct .content {
  padding: 20px;
}

#featured .featuredContainer .featuredProjectContainer .featuredProduct .content .title {
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 10px;
}

#featured .featuredContainer .featuredProjectContainer .featuredProduct .content .category {
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
  color: #888;
  margin-bottom: 15px;
}

#featured .featuredContainer .featuredProjectContainer .featuredProduct .content .price {
  font-size: 20px;
  line-height: 29px;
  font-weight: 300;
  color: #333;
}

footer {
  background: #eee;
}

footer .footerContainer {
  max-width: 1000px;
  margin: 0 auto;
}

footer .footerContainer .footerMenu {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 425px) {
  footer .footerContainer .footerMenu {
    text-align: center;
  }
}

footer .footerContainer .footerMenu .menu {
  padding: 60px 60px 0 60px;
}

footer .footerContainer .footerMenu .menu h5 {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 15px;
}

footer .footerContainer .footerMenu .menu .footerLinks {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerContainer .footerMenu .menu .footerLinks p {
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-decoration: none;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 5px;
}

footer .footerContainer .copyrights {
  text-align: center;
  padding: 60px 0 30px 0;
  color: #888;
}

.singleContainer {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 100px auto;
  padding: 0 20px;
}

@media screen and (max-width: 668px) {
  .singleContainer {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.singleContainer #lightgallery, .singleContainer .productInfo {
  width: 50%;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 668px) {
  .singleContainer #lightgallery, .singleContainer .productInfo {
    width: 100%;
  }
}

.singleContainer #lightgallery {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 20px;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1.5;
     -moz-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.singleContainer #lightgallery a {
  width: 45%;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .singleContainer #lightgallery a {
    width: 100%;
  }
}

.singleContainer #lightgallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.singleContainer .productInfo {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  height: auto;
  padding: 40px 30px;
}

@media screen and (max-width: 425px) {
  .singleContainer .productInfo {
    padding: 20px 10px;
  }
}

.singleContainer .productInfo .productTitle {
  font-size: 40px;
  color: #222;
  line-height: 44px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.singleContainer .productInfo p {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
}

.singleContainer .productInfo p.description {
  font-weight: 300;
  text-transform: capitalize;
  line-height: 25px;
  margin-bottom: 20px;
}

.singleContainer .productInfo p.category {
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 19px;
}

.singleContainer .productInfo table {
  border-collapse: collapse;
  width: 100%;
}

.singleContainer .productInfo table th, .singleContainer .productInfo table td {
  border: 1px solid #888;
  padding: 10px;
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
}

.singleContainer .productInfo table th b, .singleContainer .productInfo table td b {
  display: block;
  margin-bottom: -8px;
}

.topHeader{
  border: 1px solid #e9e9e9;
  /* position: fixed; */
  width: 100%;
  background-color: #fff;
  top: 0;
  z-index: 10000000;
}

.topHeader .container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 8px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
     -moz-box-pack: flex-end;
      -ms-flex-pack: flex-end;
          justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

@media screen and (max-width: 425px){
  .topHeader{
    display: none;
  }
}

.topHeader p{
  text-align: right;
}
/*# sourceMappingURL=styles.css.map */